.idea/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
.gradle_deps/
.gradle/
build/
.project
.settings/
.vscode/
.classpath
.DS_Store
out/
*.class
*.log
.terraform/
venv/
node_modules/
.env
bin/
